*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
nav{
  background:black;
}
body{
  background-color: rgb(206, 52, 52);
}
nav img{
  margin:2px;
}
nav a{
  text-decoration: none;
  color:rgb(238, 230, 230);
  border-left:1px solid white;
  border-right:1px solid white;
  flex:23%;
  text-align:center;
  transition:1s;

}
nav a:hover{
  color:white;
  flex:35%;

}
nav{
  display:flex;
  align-items:center;
  justify-content: flex-start;
}
nav div{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
 height:500px;
}
.hero .left{
  width:50%;
}
.hero .right{
  width:50%;
}


